*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
--main-color:#979ee2;
--white-color:#fff;
--dark:#000;
--transition:0.3s ;
--paragraph-color:#777;
}
.container
{

    width: 80%;
    margin: 0 auto;
}
/*start home*/
.home{
    width: 100%;
    height: 100vh;
    background-image:url('../images/home-bg.jpg') ;
    background-size:cover ;
    background-repeat:no-repeat ;
    background-attachment: fixed;
    position: relative;
}
.home .home-text{
position: absolute;
top: 50%;
left: 50%;
transform:translate(-50%,-50%) ;
text-align: center;
}
.home-text h1
{
   font-size: 45px;
   font-weight:600 ;
   margin-bottom: 15px;
   color: var(--white-color);
}
.home-text p
{
   line-height: 1.7;
   font-size: 18px;
   margin-bottom: 10px;
   color: var(--white-color);
}
.btn
{
   border: 0;
   outline: 0;
   color: var(--white-color);
   background-color: var(--dark);
   padding: 17px 22px;
   font-size: 17px;
   border-radius: 15px;
   cursor: pointer;
}
.btn:hover{
    color: var(--dark);
    background-color: var(--white-color);
    transition: var(--transition);
}
@media (max-width:768px){
    .home-text h1{
        font-size: 30px;

    }
    .home-text p{
        font-size: 15px;
        line-height: 1.5;
    }

    .btn{
        padding: 10px 15px;
    }

}
/*start about*/
.about{
    margin-top: 30px;
}
.about .about-text,
.design .design-text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about .about-text h2,
.design .design-text h2
{
  font-size: 35px;
  margin-bottom: 10px;
}
.about .about-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.about .about-box .card{
    margin: 0 10px;
    text-align: center;
    max-width: 280px;
    height: 290px;
    padding: 15px;
    cursor: pointer;
    transition: var(--transition);

}
.about .about-box .card i{
   font-size: 30px;
   color: var(--main-color);
   margin-bottom: 10px;
}
.about .about-box .card h4{
    font-size: 25px;
    margin-bottom: 10px;
 }
 
.about .about-box .card p{
font-size: 17px;
    color: var(--paragraph-color);
 }
.active{
    background-color: var(--dark);
}

 .active h4
{ 
    color: var(--white-color);
}
.white{
    color: var(--white-color)!important;
}
.about .about-box .card:hover{
    background-color: var(--dark);
    transform: translateY(-7px);
    border-radius: 25px;

}
.about .about-box .card:hover h4,
.about .about-box .card:hover i,
.about .about-box .card:hover p
{
   color: var(--white-color);
   
}

@media (max-width:768px){
    .about .about-box{

        flex-direction: column;
        gap: 20p;
    }
    .about .about-box .card{
        width: 100%;
        margin: 10px 0;
        max-width:none ;
    }
    .about .about-text h2,
.design .design-text h2{
    font-size: 25px;
}
.about .about-text p,
.design .design-text p{
    font-size: 15px;
}

}
/*start blog*/
.blog{
    margin-top: 30px;
}
.wrapper{

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
   
}
.wrapper .image img{
width: 100%;
border-radius: 7px;
object-fit: cover;
}
.wrapper .blog-text h4{
  font-size: 25px;
  
 
 }
.wrapper .blog-text p{
   color: var(--paragraph-color);
   line-height: 1.8;
   font-size: 15px;

}
.wrapper .blog-text .special{
  margin-top: 25px;
 
 }
 .social-icons{
    padding: 17px 22px;
    transition: var(--transition);
 }

 .social-icons i{
    font-size: 20px;
    width: 45px;
    height: 45px;
    background-color: #ccc;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
 }
 .social-icons i:hover{

    background-color: var(--dark);
    color: var(--white-color);
 }
 @media (max-width:768px){
    .wrapper{
        flex-direction: column;
        gap: 10px;
    }
    .wrapper .image img{
        width: 100%;
        max-width:none ;
    }
    .wrapper .blog-text{
        text-align: center;
    }
    .social-icons{
        padding: 15px 0;

    }
 }
 /*start design*/

 .design{
    padding: 80px 0;
 }
 .design .design-text p{
    color: var(--paragraph-color);
    margin-bottom: 25px;
 }
.design .card img{
    width: 100%;
}
.design .design-box{
display: flex;
justify-content: space-between;
align-items: center;
gap: 20px;
}
@media (max-width:768px){
    .design .design-box{
        flex-direction: column;

    }

}
/*start form*/
.form{
    width: 90%;
}
.wrapper-form{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.wrapper-form form .input-name,
.wrapper-form form .input-email,
.wrapper-form form textarea{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin: 15px 0;
    font-size: 16px;

}
.wrapper-form form textarea{
    resize: none;
}
.form-text h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom:15px ;
}
.form-text p{
    color: var(--paragraph-color);
    font-size: 17px;
    line-height: 1.8;
    margin-bottom:15px ;
}
.social-media{
    color: var(--paragraph-color);
 
}

.social-media span{
    margin-left: 10px;
}
@media (max-width:768px){
    .wrapper-form{
        flex-direction: column;
    }
    .social-media{
        margin-bottom: 20px;
     
    }

}
/*start footer*/
.footer{
    background-color: var(--main-color);
    color: var(--white-color);
    margin-top: 30px;
    padding: 22px 0;
  
}
.footer-content{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
@media (max-width:768px){
    .footer{
        padding: 10px;
    }

}
